*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #a8dadc;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%; 
}
.header-sec1 {
    background-color: #fff;
    
    display: flex;   
}
.header-logo {
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.sec1-logo {
    height: 6rem;
    width: 6rem;
    background-image: url("images/Homepage-img/logo.png");
    background-size: cover;
}
.brand-name {
    margin-top: 1rem;
    margin-left: 2rem;
}
.header-sec2 {
    height: 3.5rem;
    background-color: #c22504;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    justify-content: space-evenly;    
}
.hvr {
     color: white;
    text-decoration: none;
}
.hvr:hover {
    cursor: pointer;
    color: orange;
}
.icons2 {
    display: flex;
    color: #232323;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
}
.in2 {
    color: #232323;
    size: 4rem;
    border:1px solid black;
    border-radius:5px;
    padding:10px;
}
.in2:hover {
    background-color: #c22504;
}

.homepage-content {
    /* height: 100rem; */
    display: flex;
    flex-direction: column;
}
.dept-img {
    height: 30rem;
}
.dept-img-src {
    height: 30rem;
    background-image: url("images/Homepage-img/civil-dept-img.jpg");
    background-size:cover;
}

.content-sec1 {
    height: 70rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.homepage-navbar {
    background-color: #457b9d;
    height: 100%;
    width: 45rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    gap: 2rem;
}
.homepage-navbar a {
    font-weight: 1000;
    font-size: 1.5rem;
    text-shadow: 0 0 2px white, 0 0 15px black;

}
.con-sec1-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.con-sec1-box {
    width: 90%;
    background-color: #e7e7e7;
    border-radius: 25px;
    box-shadow: 5px 10px 15px;
}
.box-heading {
    padding-top: 0.5rem;
    background-color: #457b9d;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    padding-left:1rem ; 
}
.box-info {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem;
}
.content-sec2 {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items:center;
}
.con-sec2-info {
    height: 7rem;
    width: 50rem;
    margin-bottom: 2rem;
    background-color: #457b9d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    color: white;
}
.num-of-student, .num-of-faculty{
    font-size: 3rem;
}
.content-sec3 {
    height: 25rem;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.sec3-img {
    display: flex;
    gap: 2rem;   
}
.sec3-heading {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.image-container {
    position: relative;
    width: fit-content;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    background-size: cover;
}
.image-container .image {
    display: block;
    height: 20rem;
    width: 20rem;
}
.image-container .image-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0.5em 1em;
    opacity: 0;    
}

.image-container .image-button {   
    outline: none;
    color: black;
    font-family: 'Quicksand', 'sans-sarif';
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.image-container .image-overlay:hover {
    backdrop-filter: blur(10px);
    cursor: pointer;
    opacity: 1;
}


#footerbuttom{
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    background-color: white;
}
#footerbuttom p{
    color:#c22504;
}
#footerbuttom a{
    color:#c22504;
    font-weight: bolder;
}
/*Cultural Section*/
#redstrip{
    height:2.56rem;
    background-color: #c22504;
    display:flex;
    justify-content: space-around;
    font-size: .875rem;
    
}
#redstripLeftBox{
    display: flex;
    align-items: center;
    width: 58.33%;
}
#redstripLeftBox a{
    text-decoration:none;
    color: white;
    padding: 10px 10px 5px 5px; 
}
#redstripLeftBox a::after{
    content:"|";
    margin-left: 10px;
}
#redstripLeftBox a:hover{
    color: rgb(255, 189, 7);
}
#oldwebsite{
    font-weight: bolder;
}
#whitestrip{
    height: 9.6875rem;
    width:100% ;
    display: flex;
}
#nameLogo{
    height:100%;
    width:75%;
    display: flex;
    align-items: center;
   justify-content:space-evenly;
   padding-right: 30px;
}
#hindiname{
    padding-top: 15px;
}
#socialmediasection{
    height: 100%;
    width: 25%;
    font-display: flex;
    align-items: center;
}
#socialmediaicon{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.socialmedia{
    padding: 6px 10px;
    border: 1px solid rgb(194, 37, 4);
    border-radius: 5px;;

}
#bluestrip{
    height:3.375rem;
    width:100%;
    background-color: rgb(48, 29, 112);
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

/* content */
#content{
    display: flex;
}
#contentnav {
    height: 100vh;
    position: sticky;
    top: 0px;
    width:22%;
    padding: 2rem;
    background-color: #08C2FF;
    box-shadow: black;
}
#contentnav li a{
   color:#c22504;
}
#content li::before{
    content: "\f303";
    color: black;
    margin-right: 8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display:inline-block;
    font-style: normal;
}
.contentimgdescription{
    background-color: #FFCB74;
    /* margin-top: 1.5rem; */
    flex:1;
    text-align: center;

}
.culturalactivitymg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width:100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: black;
    
    
}
#footer{
    width:100%;
    background-color: blue;
}
#footertop{
    height:40vh;
    width:100%;
    background-color:rgb(48, 29, 112);
    display: flex;
    align-items: center;
    justify-content: center;
}
#footertopcontent{
    height:80%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footermaplogo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width:65%;
}
#footermap{
    height:80%;
    width:70%;
    overflow: hidden;  
}
#footermap iframe{
  width: 100%;
}
#footerlogo{
    background-color: white;
    width:12%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footerlogo img{
    width:100%;
    padding: 8px;
}
#footeraddresstext{
    color:white;
    margin-bottom: 30px;
}
#footersocialmediasection{
    height: 100%;
    width: 100%;
    font-display: flex;
    align-items: center;
}
#footersocialmediaicon{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footersocialmeadiaicon:hover {
    background-color: #c22504;
}
.footersocialmedia a{
    padding: 6px 10px;
    border: 1px solid white;
    border-radius: 5px;;
    color: white;
}
#footermiddle{
    height:60vh;
    width:100%;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-around;
}
#footermidcontent{
    width:90%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.links{
    margin-left: 55px;
    color: white;
}
.links a{
    color: white;
    text-decoration: none;
    
}
.links a h4{
    margin-bottom: 25px;
    font-size: 1.5rem;
    display: inline-block;
    border-bottom: 1px solid white;   
}
li::before{
    content: "\f303";
    color: #ebc495;
    margin-right: 8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display:inline-block;
    font-style: normal;   
}
ul li{
    list-style: none;
    padding:6px 0px ;   
}
li a{
    font-size: 13px; 
    text-decoration: none;
}
#footerbuttom{
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    background-color: white;
}
#footerbuttom p{
    color:#c22504;
}
#footerbuttom a{
    color:#c22504;
    font-weight: bolder;
}


@media (max-width: 480px) {
    #redstripe{
        width: 100%;
    }
    #redstripLeftBox{
        width: 100%;
    }
    .header-logo {
        display: none;
    }
    
  }