*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%; 
}
.header-sec1 {
    background-color: #fff;
    height: 8rem;
    display: flex;   
}
.header-logo {
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.sec1-logo {
    height: 6rem;
    width: 6rem;
    background-image: url("logo.png");
    background-size: cover;
}
.brand-name {
    margin-top: 1rem;
    margin-left: 2rem;
}
.header-sec2 {
    height: 3.5rem;
    background-color: #c22504;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    justify-content: space-evenly;    
}
.hvr {
     color: white;
    text-decoration: none;
}
.hvr:hover {
    cursor: pointer;
    color: orange;
}
.icons2 {
    display: flex;
    color: #232323;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
}
.in2 {
    color: #232323;
    size: 4rem;
    border:1px solid black;
    border-radius:5px;
    padding:10px;
}
.in2:hover {
    background-color: #c22504;
}

.homepage-content {
    height: 80rem;
}
.dept-img {
    height: 30rem;
}
.dept-img-src {
    height: 30rem;
    background-image: url("civil-dept-img.jpg");
    background-size: cover;
}

.content-sec1 {
    height: 60rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.con-history, .con-mission, .con-corevalue {
    height: 15rem;
    width: 80rem;
    background-color: #e7e7e7;
    border-radius: 25px;
    box-shadow: 5px 10px 15px;
    animation: scrolling linear;
    animation-timeline: view(120px);
}
.con-history:hover, .con-mission:hover, .con-corevalue:hover {
    height: 17rem;
    width: 82rem;
    transition: 0.15s ease;

}
.his-heading, .mis-heading, .cor-heading {
    background-color: #c22504;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    height: 3rem;
    padding-left:1rem ; 
}
.his-info, .mis-info, .cor-info {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-left: 1rem;
}
.content-sec2 {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items:center;
}
.con-sec2-info {
    height: 5rem;
    width: 50rem;
    background-color: #ebc495;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}
.content-sec3 {
    height: 25rem;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.sec3-img {
    display: flex;
    gap: 2rem;   
}
.sec3-heading {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.image-container {
    position: relative;
    width: fit-content;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    background-size: cover;
}
.image-container .image {
    display: block;
    height: 20rem;
    width: 20rem;
}
.image-container .image-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0.5em 1em;
    opacity: 0;    
}

.image-container .image-button {   
    outline: none;
    color: black;
    font-family: 'Quicksand', 'sans-sarif';
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.image-container .image-overlay:hover {
    backdrop-filter: blur(10px);
    cursor: pointer;
    opacity: 1;
}

/*Sports Activities Section*/
.head{
    display:flex;
}
body{
    margin:0px;
    padding:0px;
}
.logo{
    margin-left:25px;
    margin-top:25px;
}
.heading{
    margin-left:25px;
    margin-top:10px;
}
.info{
    height:50px;
    background-color:#fc0000;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.home{
    margin-left:100px;
}
.Training{
    margin-right:100px;
}
.me{
    color: white;
}
.sport{
    margin-left:180px;
    margin-top:50px;
    color:rgb(149, 0, 0);
    
}
.content{
    width:1000px;
    height:200px;
    margin-left:180px;
}
.content span{
   font-size:large;
}
.slider{
    width:100%;
    height:500px;
    overflow:hidden;
}
figure{
    position:relative;
    left:0;
    width:400%;
    animation: 10s slide infinite;
}
.slide{
    position:relative;
    width:25%;
    float:left;
   
}
.slide h1{
    position:absolute;
    font-size:3em;
    width:100%;
    color:white;
    text-align:center;
    margin-top:50px;

    text-shadow:1px 1px 2px rgba(0,0,0,0.5);

}
.me img{
    width:100%;
    height:339px;
}
.them img{
    width:100%;
    height:321px;
}
.you img{
    width:100%;
    height:337px;
}
.any img{
    width:100%;
    height:452px;
}
@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;

    }
    74%{
        left:-200%;

    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    100%{
        left:0;
    }
}
/*Training and Placement Section
 General Styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Program Info Section */
.program-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
}
.program-photo {
    width: 45%;
    height: auto;
    margin-right: 20px;
}
/* College Image on Left */
.program-photo-left {
    width: 35%;
    height: auto;
    margin-right: 30px;
}

.program-details {
    width: 60%;
}

.program-details h2, h3, h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.program-details p, ul {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

/* Distribution Section */
.distribution {
    text-align: center;
    margin-top: 30px;
}

/* Separate and Larger Distribution Sections */
.charts-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.branch-distribution, .gender-distribution {
    width: 45%;
}

.branch-distribution img, .gender-distribution img {
    max-width: 100%;
    height: auto;
}

.branch-distribution h3, .gender-distribution h3 {
    font-size: 28px;
    color: #1e3d69;
}
#footerbuttom{
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    background-color: white;
}
#footerbuttom p{
    color:#c22504;
}
#footerbuttom a{
    color:#c22504;
    font-weight: bolder;
}
/*Cultural Section*/
#redstrip{
    height:2.56rem;
    background-color: #c22504;
    display:flex;
    justify-content: space-around;
    font-size: .875rem;
    
}
#redstripLeftBox{
    display: flex;
    align-items: center;
    width: 58.33%;
}
#redstripLeftBox a{
    text-decoration:none;
    color: white;
    padding: 10px 10px 5px 5px; 
}
#redstripLeftBox a::after{
    content:"|";
    margin-left: 10px;
}
#redstripLeftBox a:hover{
    color: rgb(255, 189, 7);
}
#oldwebsite{
    font-weight: bolder;
}
#whitestrip{
    height: 9.6875rem;
    width:100% ;
    display: flex;
}
#nameLogo{
    height:100%;
    width:75%;
    display: flex;
    align-items: center;
   justify-content:space-evenly;
   padding-right: 30px;
}
#hindiname{
    padding-top: 15px;
}
#socialmediasection{
    height: 100%;
    width: 25%;
    font-display: flex;
    align-items: center;
}
#socialmediaicon{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.socialmedia{
    padding: 6px 10px;
    border: 1px solid rgb(194, 37, 4);
    border-radius: 5px;;

}
#bluestrip{
    height:3.375rem;
    width:100%;
    background-color: rgb(48, 29, 112);
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

/* content */
#content{
    display: flex;
}
#contentnav {
    height: 100vh;
    position: sticky;
    top: 0px;
    width:22%;
    padding: 2rem;
    background-color: #08C2FF;
    box-shadow: black;
}
#contentnav li a{
   color:#c22504;
}
#content li::before{
    content: "\f303";
    color: black;
    margin-right: 8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display:inline-block;
    font-style: normal;
}
.contentimgdescription{
    background-color: #FFCB74;
    /* margin-top: 1.5rem; */
    flex:1;
    text-align: center;

}
.culturalactivitymg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width:100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: black;
    
    
}
#footer{
    width:100%;
    background-color: blue;
}
#footertop{
    height:40vh;
    width:100%;
    background-color:rgb(48, 29, 112);
    display: flex;
    align-items: center;
    justify-content: center;
}
#footertopcontent{
    height:80%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footermaplogo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width:65%;
}
#footermap{
    height:80%;
    width:70%;
    overflow: hidden;  
}
#footermap iframe{
  width: 100%;
}
#footerlogo{
    background-color: white;
    width:12%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footerlogo img{
    width:100%;
    padding: 8px;
}
#footeraddresstext{
    color:white;
    margin-bottom: 30px;
}
#footersocialmediasection{
    height: 100%;
    width: 100%;
    font-display: flex;
    align-items: center;
}
#footersocialmediaicon{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footersocialmeadiaicon:hover {
    background-color: #c22504;
}
.footersocialmedia a{
    padding: 6px 10px;
    border: 1px solid white;
    border-radius: 5px;;
    color: white;
}
#footermiddle{
    height:60vh;
    width:100%;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-around;
}
#footermidcontent{
    width:90%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.links{
    margin-left: 55px;
    color: white;
}
.links a{
    color: white;
    text-decoration: none;
    
}
.links a h4{
    margin-bottom: 25px;
    font-size: 1.5rem;
    display: inline-block;
    border-bottom: 1px solid white;   
}
li::before{
    content: "\f303";
    color: #ebc495;
    margin-right: 8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display:inline-block;
    font-style: normal;   
}
ul li{
    list-style: none;
    padding:6px 0px ;   
}
li a{
    font-size: 13px; 
    text-decoration: none;
}
#footerbuttom{
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    background-color: white;
}
#footerbuttom p{
    color:#c22504;
}
#footerbuttom a{
    color:#c22504;
    font-weight: bolder;
}